.detalis-box {
  padding: 20px 0;
}

.detalis-text__lending {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.detalis-list {
  list-style-type: disc;
  margin-left: 20px;
}

.detalis-text {
  margin-top: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}

.detalis__header {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.detalis__grid-box {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
}

.detalis__grid-box-photo:first-child {
  grid-column: 1;
  grid-row: 1;
}
.detalis__grid-box-photo {
  grid-column: 2;
  grid-row: 2;
}

.box-one {
  grid-column: 2;
  grid-row: 1;
}

.box-two {
  grid-column: 1;
  grid-row: 2;
}
