.lending {
  padding-top: 80px;
}

.lending-box {
  padding: 20px 0;
}

.lending__header,
.team__header {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.lending__text {
  margin-top: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
