.lending {
  padding-top: 80px;
}

.lending-box {
  padding: 20px 0;
}

.lending__header {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.lending__text {
  margin-top: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;

  text-align: justify;

  &:last-child {
    margin-top: 20px;
  }
}
