<section class="detalis-section">
  <div class="container">
    <div class="detalis-box">
      <p class="detalis-text__lending">
        Повний комплекс робіт можна умовно поділити на 2 частини, а саме:
      </p>

      <ol type="I">
        <li>
          <h3 class="detalis__header">
            частина – виготовлення проєктно-кошторисної документації:
          </h3>
          <ul class="detalis-list">
            <li>
              <p class="detalis-text">
                Попереднє обстеження об’єкта та збір вихідних даних;
              </p>
            </li>
            <li>
              <p class="detalis-text">
                Надання комерційної пропозиції з урахуванням індивідуальних
                технічних та технологічних особливостей об’єкта щодо необхідного
                та перспективного розвитку об’єкта;
              </p>
            </li>
            <li>
              <p class="detalis-text">
                Допомога та консультація Замовника у підготовці Технічного
                завдання на виготовлення проєктно-кошторисної документації;
              </p>
            </li>
            <li>
              <p class="detalis-text">
                Укладання договору на виконання проєктно-кошторисної
                документації
              </p>
            </li>
            <li>
              <p class="detalis-text">
                Виготовлення проєктно-кошторисної документації;
              </p>
            </li>
            <li>
              <p class="detalis-text">
                Супровід Замовника при проходженні експертизи
                проєктно-кошторисної документації як в державних так, і
                приватних організаціях;
              </p>
            </li>
            <li>
              <p class="detalis-text">
                Отримання (позитивного) експертного звіту щодо розгляду
                проєктно-кошторисної документації. Реєстрація
                проєктно-кошторисної документації до ЄДССБ.
              </p>
            </li>
          </ul>
        </li>
        <li>
          <h3 class="detalis__header">
            частина – виконання будівельно-монтажних робіт:
          </h3>
          <ul class="detalis-list">
            <li>
              <p class="detalis-text">
                Укладання договору на виконання будівельно-монтажних робіт;
              </p>
            </li>
            <li>
              <p class="detalis-text">Реєстрація договору до ЄДССБ;</p>
            </li>
            <li>
              <p class="detalis-text">
                Консультація замовника щодо укладання договорів на авторський та
                технічний нагляд;
              </p>
            </li>
            <li>
              <p class="detalis-text">
                Консультація/супровід Замовника щодо процедури подачі
                Повідомлення про початок будівельних робіт СС1 або отримання
                Дозволу на виконання будівельних робіт СС2/СС3;
              </p>
            </li>
            <li>
              <p class="detalis-text">Виконання будівельно-монтажних робіт;</p>
            </li>
            <li>
              <p class="detalis-text">
                Постачання та монтаж допоміжного та основного обладнання;
              </p>
            </li>
            <li>
              <p class="detalis-text">Завершення будівельно монтажних робіт;</p>
            </li>
            <li>
              <p class="detalis-text">
                Проведення пусконалагоджувальних робіт;
              </p>
            </li>
            <li>
              <p class="detalis-text">
                Консультація/супровід Замовника щодо отримання Акту готовності
                об’єкта до експлуатації.
              </p>
            </li>
          </ul>
        </li>
      </ol>
    </div>
  </div>
</section>
