<section class="lending">
  <div class="container">
    <div class="lending-box">
      <h1 class="lending__header">Проектування та юудівництво</h1>
      <p class="lending__text">
        Наша компанія має значний досвід роботи у реалізації комплексних
        централізованих та децентралізованих систем забезпечення як медичних,
        так і технічних газів по всій території України.
      </p>
      <p class="lending__text">
        Ми надаємо повний комплекс послуг від проєктування, постачання
        обладнання, виконання будівельно-монтажних робіт усіх класів наслідків
        (СС1, СС2, СС3).
      </p>
    </div>
  </div>
</section>
