<section class="team">
  <div class="container">
    <div class="team-box">
      <h2 class="team__header">Команда яка буде звами працювати</h2>

      <div class="card-box">
        <div class="card">
          <div class="imgBox">
            <img class="imgBox__photo-two" src="./images/p1.png" alt="" />
            <img
              class="imgBox__photo"
              src="./images/team_four_mobail-900.jpg"
              alt=""
            />
          </div>
          <div class="detalis">
            <div class="content">
              <h3 class="content__header">
                Ім'я Фамілія<br />
                <span>Директор</span>
              </h3>
              <div class="network">
                <a class="network__link" href="">
                  <svg width="20" height="20">
                    <use href="./images/symbol-defs.svg#icon-instagram-2"></use>
                  </svg>
                </a>
                <a class="network__link" href="">
                  <svg width="20" height="20">
                    <use href="./images/symbol-defs.svg#icon-Group-1"></use>
                  </svg>
                </a>
                <a class="network__link" href="">
                  <svg width="20" height="20">
                    <use href="./images/symbol-defs.svg#icon-facebook-1"></use>
                  </svg>
                </a>
                <a class="network__link" href="">
                  <svg width="20" height="20">
                    <use href="./images/symbol-defs.svg#icon-linkedin-1"></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="imgBox">
            <img class="imgBox__photo-two" src="./images/p1.png" alt="" />
            <img
              class="imgBox__photo"
              src="./images/team_one_mobail-900.jpg"
              alt=""
            />
          </div>
          <div class="detalis">
            <div class="content">
              <h3 class="content__header">
                Ім'я Фамілія<br />
                <span>Начальник проектно кошторисного відділу</span>
              </h3>
              <div class="network">
                <a class="network__link" href="">
                  <svg width="20" height="20">
                    <use href="./images/symbol-defs.svg#icon-instagram-2"></use>
                  </svg>
                </a>
                <a class="network__link" href="">
                  <svg width="20" height="20">
                    <use href="./images/symbol-defs.svg#icon-Group-1"></use>
                  </svg>
                </a>
                <a class="network__link" href="">
                  <svg width="20" height="20">
                    <use href="./images/symbol-defs.svg#icon-facebook-1"></use>
                  </svg>
                </a>
                <a class="network__link" href="">
                  <svg width="20" height="20">
                    <use href="./images/symbol-defs.svg#icon-linkedin-1"></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="imgBox">
            <img class="imgBox__photo-two" src="./images/p1.png" alt="" />
            <img
              class="imgBox__photo"
              src="./images/team_three_mobail-900.jpg"
              alt=""
            />
          </div>
          <div class="detalis">
            <div class="content">
              <h3 class="content__header">
                Ім'я Фамілія<br />
                <span>Головний інженер</span>
              </h3>
              <div class="network">
                <a class="network__link" href="">
                  <svg width="20" height="20">
                    <use href="./images/symbol-defs.svg#icon-instagram-2"></use>
                  </svg>
                </a>
                <a class="network__link" href="">
                  <svg width="20" height="20">
                    <use href="./images/symbol-defs.svg#icon-Group-1"></use>
                  </svg>
                </a>
                <a class="network__link" href="">
                  <svg width="20" height="20">
                    <use href="./images/symbol-defs.svg#icon-facebook-1"></use>
                  </svg>
                </a>
                <a class="network__link" href="">
                  <svg width="20" height="20">
                    <use href="./images/symbol-defs.svg#icon-linkedin-1"></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="imgBox">
            <img class="imgBox__photo-two" src="./images/p1.png" alt="" />
            <img
              class="imgBox__photo"
              src="./images/team_two_mobail-900.jpg"
              alt=""
            />
          </div>
          <div class="detalis">
            <div class="content">
              <h3 class="content__header">
                Ім'я Фамілія<br />
                <span>Головний інженер проектант</span>
              </h3>
              <div class="network">
                <a class="network__link" href="">
                  <svg width="20" height="20">
                    <use href="./images/symbol-defs.svg#icon-instagram-2"></use>
                  </svg>
                </a>
                <a class="network__link" href="">
                  <svg width="20" height="20">
                    <use href="./images/symbol-defs.svg#icon-Group-1"></use>
                  </svg>
                </a>
                <a class="network__link" href="">
                  <svg width="20" height="20">
                    <use href="./images/symbol-defs.svg#icon-facebook-1"></use>
                  </svg>
                </a>
                <a class="network__link" href="">
                  <svg width="20" height="20">
                    <use href="./images/symbol-defs.svg#icon-linkedin-1"></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
