<section class="benefist section">
  <div class="benefist-box container">
    <h2 class="benefist__header">Також ви отримаєте</h2>
    <!-- Заховать -->
    <ul class="content">
      <li class="content__element">
        <div class="content__fon">
          <svg class="content__icon" width="70" height="70">
            <use href="./images/symbol-defs.svg#icon-antenna-1"></use>
          </svg>
        </div>
        <h3 class="content__paragraph">Увагу до деталей</h3>
        <p class="content__text">
          Ідейні міркування, і навіть початок повсякденної роботи з формування
          позиції.
        </p>
      </li>

      <li class="content__element">
        <div class="content__fon">
          <svg class="content__icon" width="70" height="70">
            <use href="./images/symbol-defs.svg#icon-clock-1"></use>
          </svg>
        </div>
        <h3 class="content__paragraph">Пунктуальність</h3>
        <p class="content__text">
          Вчасне виконання робіт в попередньо обумовлених рамках
        </p>
      </li>

      <li class="content__element">
        <div class="content__fon">
          <svg class="content__icon" width="70" height="70">
            <use href="./images/symbol-defs.svg#icon-diagram-1"></use>
          </svg>
        </div>
        <h3 class="content__paragraph">Планування</h3>
        <p class="content__text">
          Формування графіку виконання робіт з врахуванням всіх ваших вимог
        </p>
      </li>

      <li class="content__element">
        <div class="content__fon">
          <svg class="content__icon" width="70" height="70">
            <use href="./images/symbol-defs.svg#icon-Group"></use>
          </svg>
        </div>
        <h3 class="content__paragraph">Сучасні технології</h3>
        <p class="content__text">
          Вся зобота і у весь матеріал відповідають сучасним Європейським нормам
        </p>
      </li>
    </ul>
  </div>
</section>
