<section class="coment" id="coment">
  <div class="container">
    <div class="box-coment">
      <ul class="coment-list">
        <li class="coment-list__elements">
          <div class="page" style="background-color: red">
            <p class="page__text">
              Фото або скан вікгуку про виконану роботу при натисканні на картку
              можна отримати детальний опис виконаних робіт і галерею фоток
            </p>
          </div>
          <p>Тип виконаних робіт</p>
          <p>rкоординати виконаних робіт</p>
        </li>
        <li class="coment-list__elements">
          <div class="page" style="background-color: teal">
            <p class="page__text">
              Фото або скан вікгуку про виконану роботу при натисканні на картку
              можна отримати детальний опис виконаних робіт і галерею фоток
            </p>
          </div>
          <p>Тип виконаних робіт</p>
          <p>rкоординати виконаних робіт</p>
        </li>
        <li class="coment-list__elements">
          <div class="page" style="background-color: blue">
            <p class="page__text">
              Фото або скан вікгуку про виконану роботу при натисканні на картку
              можна отримати детальний опис виконаних робіт і галерею фоток
            </p>
          </div>
          <p>Тип виконаних робіт</p>
          <p>rкоординати виконаних робіт</p>
        </li>
      </ul>
    </div>
  </div>
</section>
