<footer class="footer" id="contact">
  <div class="container">
    <div class="footer-box">
      <!-- Логотип и адрес or logo and address-->
      <div class="address-box">
        <a class="address-box__logo" href="/">
          <img
            class="address-box__logo-photo"
            src="./images/logo_KMC_ukr_print_373-250.png"
            alt=""
          />
        </a>

        <address class="address">
          <ul class="address__list">
            <li class="address__element">
              <a
                class="address__link address--style"
                href="https://goo.gl/maps/HMu53bgfT2PAr7Ef6"
                >м. Боярка, вул.Незалежності, 63
              </a>
            </li>
            <li class="address__element">
              <a class="address__link" href="mailto:tov.kms.2020@gmail.com"
                >tov.kms.2020@gmail.com</a
              >
            </li>
            <li class="address__element">
              <a class="address__link" href="tel:+380500000000"
                >+38 (050) 000-00-00</a
              >
            </li>
          </ul>
        </address>
      </div>

      <!-- Соц.сети or network -->
      <div class="network-footer">
        <h2 class="network-footer__header">Приєднуйся</h2>
        <ul class="network-footer-box">
          <li class="network-footer-box__element">
            <a
              class="network-footer-box__link"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="https://www.instagram.com"
            >
              <svg class="network-footer-box__icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-instagram-2"></use>
              </svg>
            </a>
          </li>
          <li class="network-footer-box__element">
            <a
              class="network-footer-box__link"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="https://twitter.com/?lang=ru"
            >
              <svg class="network-footer-box__icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-Group-1"></use>
              </svg>
            </a>
          </li>
          <li class="network-footer-box__element">
            <a
              class="network-footer-box__link"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="https://www.facebook.com"
            >
              <svg class="network-footer-box__icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-facebook-1"></use>
              </svg>
            </a>
          </li>
          <li class="network-footer-box__element">
            <a
              class="network-footer-box__link"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="https://www.linkedin.com"
            >
              <svg class="network-footer-box__icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-linkedin-1"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <!-- Форма or form-footer -->
      <div class="form-footer-box">
        <h2 class="form-footer-box__header">Підпишись на новини</h2>

        <form class="form-footer">
          <label>
            <input
              class="form-footer__input"
              type="email"
              name="mail-p"
              placeholder="E-mail"
            />
          </label>

          <button class="button button-footer" type="submit">
            Підписатися
            <svg class="button__icon" width="24" height="24">
              <use href="./images/symbol-defs.svg#icon-send"></use>
            </svg>
          </button>
        </form>
      </div>
    </div>
  </div>
</footer>
