<header class="header" id="header">
  <div class="container">
    <div class="box-header">
      <a class="logo" href="#">
        <img
          class="logo-photo"
          src="./images/logo_KMC_ukr_print_373-250.png"
          alt="logo"
        />
      </a>
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-list__elements">
            <a class="nav-list__link" href="#">Про нас</a>
          </li>
          <li class="nav-list__elements">
            <a class="nav-list__link" href="#">Послуги</a>
          </li>
          <li class="nav-list__elements">
            <a class="nav-list__link" href="#">Товари</a>
          </li>
        </ul>
      </nav>

      <ul class="list-contact">
        <li class="list-contact__elements">
          <a class="list-contact__link" href="#">Телефон</a>
        </li>
        <li class="list-contact__elements">
          <a class="list-contact__link" href="#">Пошта</a>
        </li>
      </ul>
    </div>
  </div>
</header>
