<header class="header sticky">
  <div class="banner"></div>
  <div class="container">
    <a href="./index.html" class="logo">
      <img
        class="logo-photo"
        src="./images/logo_KMC_ukr_print_373-250.png"
        alt=""
      />
    </a>
    <div class="toggle"></div>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-list__elements">
          <a class="nav-list__link" href="#">проектування та будівництво</a>
        </li>
        <li class="nav-list__elements">
          <a class="nav-list__link" href="./produkts.html">Каталог обладання</a>
        </li>
        <li class="nav-list__elements">
          <a class="nav-list__link" href="#">сервісне обслуговування</a>
        </li>
        <li class="nav-list__elements">
          <a class="nav-list__link" href="#">реалізовані проекти</a>
        </li>
        <li class="nav-list__elements">
          <a class="nav-list__link" href="#">про компанію</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
