<header class="header sticky">
  <div class="banner"></div>
  <div class="container">
    <a href="./index.html" class="logo">
      <img
        class="logo-photo"
        src="./images/logo_KMC_ukr_print_373-250.png"
        alt=""
      />
    </a>
    <div class="toggle"></div>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-list__elements">
          <a class="nav-list__link" href="./proekt.html"
            >проектування та будівництво</a
          >
        </li>
        <li class="nav-list__elements">
          <a class="nav-list__link" href="./produkts.html">Каталог обладання</a>
        </li>
        <li class="nav-list__elements">
          <a class="nav-list__link" href="./servis.html"
            >сервісне обслуговування</a
          >
        </li>
        <li class="nav-list__elements">
          <a class="nav-list__link" href="./gallery.html"
            >реалізовані проекти</a
          >
        </li>
        <li class="nav-list__elements">
          <a class="nav-list__link" href="./cpmpani.html">про компанію</a>
        </li>
        <li class="nav-list__elements">
          <a class="nav-list__link" href="./form.html">form</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
