<section class="hero" id="hero">
  <div class="box-hero">
    <!-- <div>
      <ul class="hero-list wiper-wrapper">
        <li class="hero-list__elements swiper-slide">
          <div class="hero-list__box" style="background-color: red">
            <p class="hero-list__text">
              Ткест для слайдера 1 на фон можна поставити любе відео або фото
            </p>
          </div>
        </li>
        <li class="hero-list__elements swiper-slide">
          <div class="hero-list__box" style="background-color: teal">
            <p class="hero-list__text">
              Ткест для слайдера 2 на фон можна поставити любе відео або фото
            </p>
          </div>
        </li>
        <li class="hero-list__elements swiper-slide">
          <div class="hero-list__box" style="background-color: yellow">
            <p class="hero-list__text">
              Ткест для слайдера 3 на фон можна поставити любе відео або фото
            </p>
          </div>
        </li>
        <li class="hero-list__elements swiper-slide">
          <div class="hero-list__box" style="background-color: blue">
            <p class="hero-list__text">
              Ткест для слайдера 4 на фон можна поставити любе відео або фото
            </p>
          </div>
        </li>
        <li class="hero-list__elements swiper-slide">
          <div class="hero-list__box" style="background-color: blueviolet">
            <p class="hero-list__text">
              Ткест для слайдера 5 на фон можна поставити любе відео або фото
            </p>
          </div>
        </li>
      </ul>
    </div> -->

    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="hero-list__box" style="background-color: red">
            <p class="hero-list__text">
              Ткест для слайдера 1 на фон можна поставити любе відео або фото
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="hero-list__box" style="background-color: teal">
            <p class="hero-list__text">
              Ткест для слайдера 2 на фон можна поставити любе відео або фото
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="hero-list__box" style="background-color: yellow">
            <p class="hero-list__text">
              Ткест для слайдера 3 на фон можна поставити любе відео або фото
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="hero-list__box" style="background-color: blue">
            <p class="hero-list__text">
              Ткест для слайдера 4 на фон можна поставити любе відео або фото
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="hero-list__box" style="background-color: blueviolet">
            <p class="hero-list__text">
              Ткест для слайдера 5 на фон можна поставити любе відео або фото
            </p>
          </div>
        </div>
        <!-- ... -->
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <!-- If we need scrollbar -->
      <div class="swiper-scrollbar"></div>
    </div>
  </div>
</section>
