<section class="iso" id="iso">
  <div class="container">
    <div class="box-iso">
      <h2 class="iso__header">Наші сертифікати ISO</h2>
      <ul class="iso-list">
        <li class="iso-list__elements">
          <picture>
            <source srcset="./images/iso/webp/ISO-1.webp" type="images/webp" />
            <img
              class="iso__photo"
              src="./images/iso/ISO-1.jpg"
              alt="сертифікат ISO"
            />
          </picture>
        </li>
        <li class="iso-list__elements">
          <picture>
            <source srcset="./images/iso/webp/ISO-2.webp" type="images/webp" />
            <img
              class="iso__photo"
              src="./images/iso/ISO-2.jpg"
              alt="сертифікат ISO"
            />
          </picture>
        </li>
        <li class="iso-list__elements">
          <picture>
            <source srcset="./images/iso/webp/ISO-3.webp" type="images/webp" />
            <img
              class="iso__photo"
              src="./images/iso/ISO-3.jpg"
              alt="сертифікат ISO"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
