<section class="iso" id="iso">
  <div class="container">
    <div class="box-iso">
      <h2 class="iso__header">Наші сертифікати ISO</h2>
      <ul class="iso-list">
        <li class="iso-list__elements">
          <img class="iso__photo" src="./images/iso.jpg" alt="" />
        </li>
        <li class="iso-list__elements">
          <img class="iso__photo" src="./images/iso.jpg" alt="" />
        </li>
        <li class="iso-list__elements">
          <img class="iso__photo" src="./images/iso.jpg" alt="" />
        </li>
      </ul>
    </div>
  </div>
</section>
