<header class="nov" id="nov">
  <div class="container">
    <div class="box-nov">
      <section class="coment" id="coment">
        <div class="container">
          <div class="box-coment">
            <ul class="coment-list">
              <li class="coment-list__elements">
                <div class="page" style="background-color: red">
                  <p class="page__text">Якесь Фото</p>
                </div>
                <p>Заголовок новини</p>
                <p>Короткий опис новини</p>
              </li>
              <li class="coment-list__elements">
                <div class="page" style="background-color: teal">
                  <p class="page__text">Якесь Фото</p>
                </div>
                <p>Заголовок новини</p>
                <p>Короткий опис новини</p>
              </li>
              <li class="coment-list__elements">
                <div class="page" style="background-color: blue">
                  <p class="page__text">Якесь Фото</p>
                </div>
                <p>Заголовок новини</p>
                <p>Короткий опис новини</p>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </div>
</header>
