<section class="offer" id="offer">
  <div class="container">
    <div class="box-offer">
      <h2 class="offer__header">Що ми пропонуємо</h2>
      <ul class="list-offer">
        <li class="list-offer__elements">
          <a href="./proekt.html#proect">
            <img class="list-offer__photo" src="./images/proect.jpg" alt="" />
            <span class="list-offer__text">
              Індивідуальний підхід до проектування
            </span>
          </a>
        </li>
        <li class="list-offer__elements">
          <a href="./proekt.html#construction">
            <img class="list-offer__photo" src="./images/byd2.jpg" alt="" />
            <span class="list-offer__text">Будівництво під ключ</span>
          </a>
        </li>
        <li class="list-offer__elements">
          <a href="./servis.html">
            <img class="list-offer__photo" src="./images/servis.jpg" alt="" />
            <span class="list-offer__text">Сервісне облуговування 24/7</span>
          </a>
        </li>
        <li class="list-offer__elements">
          <a href="./produkts.html">
            <img
              class="list-offer__photo"
              src="./images/postavkd.jpg.opdownload"
              alt=""
            />
            <span class="list-offer__text">Постачання обладнання</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
