<header class="partner" id="partner">
  <div class="container">
    <div class="box-partner">
      <ul class="list">
        <li class="list__elements">
          <div class="lodop" style="background-color: red">
            <a class="link" href="#">Логотипи компаній посилання на сайт</a>
          </div>
        </li>
        <li class="list__elements">
          <div class="lodop" style="background-color: teal">
            <a class="link" href="#">Логотипи компаній посилання на сайт</a>
          </div>
        </li>
        <li class="list__elements">
          <div class="lodop" style="background-color: tan">
            <a class="link" href="#">Логотипи компаній посилання на сайт</a>
          </div>
        </li>
        <li class="list__elements">
          <div class="lodop" style="background-color: blue">
            <a class="link" href="#">Логотипи компаній посилання на сайт</a>
          </div>
        </li>
        <li class="list__elements">
          <div class="lodop" style="background-color: yellow">
            <a class="link" href="#">Логотипи компаній посилання на сайт</a>
          </div>
        </li>
        <li class="list__elements">
          <div class="lodop" style="background-color: green">
            <a class="link" href="#">Логотипи компаній посилання на сайт</a>
          </div>
        </li>
        <li class="list__elements">
          <div class="lodop" style="background-color: rebeccapurple">
            <a class="link" href="#">Логотипи компаній посилання на сайт</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</header>
