.box-coment {
  padding: 50px 0;
}
.coment-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.page {
  width: 210px;
  height: 297px;
  margin-bottom: 20px;
}

.page__text {
  padding: 20px;
  font-size: 20px;
  color: #fff;
}

.coment-list__elements {
  outline: 1px solid black;
}
