@import '../../node_modules/swiper/swiper-bundle.min.css';

.swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #fff;

  @include desktop {
    width: 15px;
    height: 15px;
  }
  @include desktop {
    width: 20px;
    height: 20px;
  }
}
.swiper-button-next::after,
.swiper-button-prev::after {
  @media screen and(max-width: 767.9px) {
    font-size: 20px;
  }
}

.swiper-button-next {
  right: 0;
  left: auto;
  @include desktop {
    right: 5px;
    left: auto;
  }
  @include desktop {
    right: 10px;
    left: auto;
  }
}
.swiper-button-prev {
  right: auto;
  left: 0;

  @include desktop {
    right: auto;
    left: 5px;
  }
  @include desktop {
    right: auto;
    left: 10px;
  }
}

.swiper {
  max-width: 1923px;
}

.hero {
  padding-top: 80px;
}
