<div class="border">
  <div class="container">
    <div class="container-card">
      <div class="grid">
        <div class="card">
          <div class="content">
            <h2>Кріогенне обладнання</h2>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non sed,
              commodi sapiente aliquam tempore ut. Minima omnis facilis quas
              consequuntur?
            </p>
            <a href="#">Детальніше</a>
          </div>
          <img
            src="./images/stacionarnyj_gazifikator_ghk5_55c9a3a3c37bfb-removebg-preview.png"
            alt=""
          />
        </div>

        <div class="card">
          <div class="content">
            <h2>Кріогенне обладнання</h2>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non sed,
              commodi sapiente aliquam tempore ut. Minima omnis facilis quas
              consequuntur?
            </p>
            <a href="#">Детальніше</a>
          </div>
          <img
            src="./images/stacionarnyj_gazifikator_ghk5_55c9a3a3c37bfb-removebg-preview.png"
            alt=""
          />
        </div>

        <div class="card">
          <div class="content">
            <h2>Криогенное оборудование</h2>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non sed,
              commodi sapiente aliquam tempore ut. Minima omnis facilis quas
              consequuntur?
            </p>
            <a href="#">Детальніше</a>
          </div>
          <img
            src="./images/stacionarnyj_gazifikator_ghk5_55c9a3a3c37bfb-removebg-preview.png"
            alt=""
          />
        </div>

        <div class="card">
          <div class="content">
            <h2>Кріогенне обладнання</h2>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non sed,
              commodi sapiente aliquam tempore ut. Minima omnis facilis quas
              consequuntur?
            </p>
            <a href="#">Детальніше</a>
          </div>
          <img
            src="./images/stacionarnyj_gazifikator_ghk5_55c9a3a3c37bfb-removebg-preview.png"
            alt=""
          />
        </div>

        <div class="card">
          <div class="content">
            <h2>Кріогенне обладнання</h2>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non sed,
              commodi sapiente aliquam tempore ut. Minima omnis facilis quas
              consequuntur?
            </p>
            <a href="#">Детальніше</a>
          </div>
          <img
            src="./images/stacionarnyj_gazifikator_ghk5_55c9a3a3c37bfb-removebg-preview.png"
            alt=""
          />
        </div>

        <div class="card">
          <div class="content">
            <h2>Кріогенне обладнання</h2>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non sed,
              commodi sapiente aliquam tempore ut. Minima omnis facilis quas
              consequuntur?
            </p>
            <a href="#">Детальніше</a>
          </div>
          <img
            src="./images/stacionarnyj_gazifikator_ghk5_55c9a3a3c37bfb-removebg-preview.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
