<section class="produkts">
  <div class="container">
    <div class="container-card">
      <ul class="produkts-list">
        <li class="produkts-list__elements card">
          <div class="produkts-list__content">
            <h2 class="produkts-list__content-header">Кріогенне обладнання</h2>
            <p class="produkts-list__content-text">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non sed,
              commodi sapiente aliquam tempore ut. Minima omnis facilis quas
              consequuntur?
            </p>
            <a class="produkts-list__content-link" href="#">Детальніше</a>
          </div>
          <img
            class="prodults-photo"
            src="./images/stacionarnyj_gazifikator_ghk5_55c9a3a3c37bfb-removebg-preview.png"
            alt=""
            loading="lazy"
          />
        </li>
        <li class="produkts-list__elements card">
          <div class="produkts-list__content">
            <h2 class="produkts-list__content-header">Кріогенне обладнання</h2>
            <p class="produkts-list__content-text">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non sed,
              commodi sapiente aliquam tempore ut. Minima omnis facilis quas
              consequuntur?
            </p>
            <a class="produkts-list__content-link" href="#">Детальніше</a>
          </div>
          <img
            class="prodults-photo"
            src="./images/stacionarnyj_gazifikator_ghk5_55c9a3a3c37bfb-removebg-preview.png"
            alt=""
            loading="lazy"
          />
        </li>
        <li class="produkts-list__elements card">
          <div class="produkts-list__content">
            <h2 class="produkts-list__content-header">Кріогенне обладнання</h2>
            <p class="produkts-list__content-text">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non sed,
              commodi sapiente aliquam tempore ut. Minima omnis facilis quas
              consequuntur?
            </p>
            <a class="produkts-list__content-link" href="#">Детальніше</a>
          </div>
          <img
            class="prodults-photo"
            src="./images/stacionarnyj_gazifikator_ghk5_55c9a3a3c37bfb-removebg-preview.png"
            alt=""
            loading="lazy"
          />
        </li>
        <li class="produkts-list__elements card">
          <div class="produkts-list__content">
            <h2 class="produkts-list__content-header">Кріогенне обладнання</h2>
            <p class="produkts-list__content-text">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non sed,
              commodi sapiente aliquam tempore ut. Minima omnis facilis quas
              consequuntur?
            </p>
            <a class="produkts-list__content-link" href="#">Детальніше</a>
          </div>
          <img
            class="prodults-photo"
            src="./images/stacionarnyj_gazifikator_ghk5_55c9a3a3c37bfb-removebg-preview.png"
            alt=""
            loading="lazy"
          />
        </li>
        <li class="produkts-list__elements card">
          <div class="produkts-list__content">
            <h2 class="produkts-list__content-header">Кріогенне обладнання</h2>
            <p class="produkts-list__content-text">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non sed,
              commodi sapiente aliquam tempore ut. Minima omnis facilis quas
              consequuntur?
            </p>
            <a class="produkts-list__content-link" href="#">Детальніше</a>
          </div>
          <img
            class="prodults-photo"
            src="./images/stacionarnyj_gazifikator_ghk5_55c9a3a3c37bfb-removebg-preview.png"
            alt=""
            loading="lazy"
          />
        </li>
        <li class="produkts-list__elements card">
          <div class="produkts-list__content">
            <h2 class="produkts-list__content-header">Кріогенне обладнання</h2>
            <p class="produkts-list__content-text">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non sed,
              commodi sapiente aliquam tempore ut. Minima omnis facilis quas
              consequuntur?
            </p>
            <a class="produkts-list__content-link" href="#">Детальніше</a>
          </div>
          <img
            class="prodults-photo"
            src="./images/stacionarnyj_gazifikator_ghk5_55c9a3a3c37bfb-removebg-preview.png"
            alt=""
            loading="lazy"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
